*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*-------------------------------------------------------*/

body{
	font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
	font-size: 18px;
	background: #222226;
	color: white;
	
}

.main-menu{
	position: static;
	top: 0px;	
	margin: 8px auto;
	padding: 12px 0px 0px 0px;
	text-indent: 25px;
	width: 850px;
	height: 50px;
	background: #333336;
	border-radius: 22px;
	font-size: 22px;
}

.link-vk{
	color: white;
	text-decoration: none;
}

.link-discord{
	color: white;	
	text-decoration: none;
}

.all-content{
	margin: 35px auto;
	width: 775px;
	padding: 25px;
	background: #333336;
}

header h1{
	font-size: 40px;
}

.title{
	margin: 70px 0px 0px 0px;
	font-size: 30px;
}

.text{
	margin: 25px 0px 0px 0px;
	font-size: 20px;
	text-indent: 35px;
	line-height: 25px;
	font-style: italic;
}

.text-p2{
	margin: 15px 0px 0px 0px;
	font-style: normal;
}

.text-p3{
	margin: 15px 0px 0px 0px;
	font-style: normal;
}

.text-p4{
	margin: 15px 0px 0px 0px;
	font-style: normal;
}

.text-p5{
	margin: 15px 0px 0px 0px;
	font-style: normal;
}

.day1-text-Ksenix{
	font-size: 22px;
	font-style: italic;
}

.day1-text-Tg{
	color: #2ba2df;
}

.day1-image1{
	margin: 20px 130px;
	width: 450px;
	border: 3px solid white;
}

.day5-image2{
	margin: 20px 130px;
	width: 450px;
	border: 3px solid white;
}

.day4-text-p4-sad{
	font-style: italic;
}